.login-container{
    background-image: url(../../Img/signup-background.png);
    height: 90vh;
    position: relative;
}
.login-box{
    margin: auto;
    

    height: 600px;
    max-width: 500px;
    /* border: 1px solid #ccc; */
}